body {
	padding-top: 75px;
	background-color: #292929;
	margin: auto;
	max-width: 1200px;
}
#listItem {

	padding: 15px;
	margin: 15px;
	border-style: solid;
	border-color: orange;
	border-width: thin;
	border-radius: 5px;
}

#allAppData {

	padding: 15px;
	margin: 15px;
	border-style: solid;
	border-color: orange;
	border-width: thin;
	border-radius: 5px;
	color: white;
}
#filterSearch {
	max-height: 45px;
}




#commentSection {

	padding: 15px;
	margin: 15px;
	border-style: solid;
	border-color: orange;
	border-width: thin;
	border-radius: 5px;
	color: white;
}

#img1 {
	border-radius: 15%;
}

#link {
	font-size: 42px;
	color: white;
	text-decoration: inherit;
}
#storePar {
	color: lightgray;
}

.navbar-custom {
    background-color: black;
	color: white;
}
